body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.online-badge {
    display: inline-block;
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}
.offline-badge {
    display: inline-block;
    background-color: #f44336; /* Red color */
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}