body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

p{
    color: #ccc;
}

h1{
    color:#ccc;
}

h2{
    color: #ccc;
}

button {
    margin: 10px;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.05);
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #444;
    color:#ccc;
}

input {
    width: 100px;
    padding: 4px;
    text-align: center;
    color: #ccc;
}


.heading{
    border: 2px solid #ffffff;
    border-bottom: #ffffff;
    border-style: none none solid none;
    border-radius: 15px;
    border-width: 5%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.panel{
    color: #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #252323;
    box-shadow: 4px 4px 8px 8px rgba(53, 53, 53, 0.2), 2px 6px 20px 2px rgba(78, 73, 73, 0.19);
}

.status-online {
    display: inline-block;
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}
.status-offline {
    display: inline-block;
    background-color: #f44336; /* Red color */
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
}

.msg{
    color:#ccc;
}

.displayDiv{
    overflow-wrap: break-word;
    text-wrap: initial;
    background-color: #252323;
    border: #ccc solid 2px;
    box-shadow: 4px 4px 8px 8px rgba(53, 53, 53, 0.2), 2px 6px 20px 2px rgba(78, 73, 73, 0.19);
    width: 80%;
    border-radius: 8px;
    font: Consolas, 'Courier New', monospace;
}

